img.center {
             display: block;
             margin-left: auto;
             margin-right: auto
             }

/* div */
.center {
    font-size: small;
    text-align: center;
    display: block
    }

.ls{font-family:Monospace;font-size:small;margin:12px 0px;}

/*
.anchor A {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
  text-decoration:none;


.ubuntu_14 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  text-decoration:none;
}

.ubuntu_mono {
  font-family: 'Ubuntu Mono';
  font-size: 50px;
}

.box-shadow {
  -moz-box-shadow:    7px 7px 7px #7C7C7C;
  -webkit-box-shadow: 7px 7px 7px #7C7C7C;
  box-shadow:         7px 7px 7px #7C7C7C;
}

.img-shadow {
  float:left;
  background: url(shadowAlpha.png) no-repeat bottom right !important;
  background: url(shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
}

.img-shadow1 {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
}
*/

/* Center H and V */

.center_absolute {
   width: 800px;
   height: 551px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -400px;
   margin-top: -275px;
}

@media only screen and (max-width: 800px) {
    .center_absolute {
        width: 100%;
        position: static;
        margin: 0 auto;
    }

    #front_img {
        width: 100%;
    }
}

/* Playing with small screens */

@media only screen and (max-width: 400px) {
    #divbody {
        padding: 0px 10px 5px 10px;
    }

    .header {
        text-align: center;
    }

    h3 {
        margin-top: 21px;
    }

    .content h3, .subtitle {
        text-align: center;
    }

    .content p {
        margin: 10px 5px;
    }

    .center {
        width: 100%;
    }

    img {
        width: 100%;
    }
}