<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <!-- <script type="text/javascript" src="resources/js/code-prettify/loader/run_prettify.js"></script> -->
    <link rel="stylesheet" href="main.css" type="text/css" />
    <link rel="stylesheet" href="blog.css" type="text/css" />
    <link rel="stylesheet" href="resources/css/styles.css" type="text/css" />
    <!-- <link rel="stylesheet" href="resources/js/code-prettify/styles/doxy.css" type="text/css"/> -->
    <link rel="stylesheet" href="resources/css/bootstrap-light_prettify.css" type="text/css"/>
    <!-- Code begins here -->
    <link rel="alternate" type="application/rss+xml" title="Subscribe to this page..." href="feed.rss" />
  </head>
